{% block content %}
<style>
    :root {
        --primary-color: #003366; /* Dark Blue */
        --secondary-color: #8B0000; /* Dark Red */
        --hover-color: #4d4dff; /* Hover color */
    }

    /* Inventory Navbar Styles */
    .navbar-inventory {
        background-color: var(--primary-color);
        padding: 10px;
        border-radius: 5px;
    }

    .navbar-inventory .nav-item {
        margin-right: 10px;
        display: inline-block;
    }

    .navbar-inventory .nav-item a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        border-radius: 5px;
    }

    .navbar-inventory .nav-item a:hover {
        background-color: var(--hover-color);
        color: #fff;
    }

    .nav-text {
        margin-left: 10px;
    }
</style>

<div class="navbar-inventory">
    <ul class="nav">
        <li class="nav-item">
            <a href="{% url 'list_expenses' %}" title="Expenses">
                <i class="fas fa-money-check-alt"></i>
                <span class="nav-text">Expenses</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'expenses_category_list' %}" title="Categories">
                <i class="fas fa-list"></i>
                <span class="nav-text">Categories</span>
            </a>
        </li>
    </ul>
</div>

{% endblock %}
